*{
  margin:0;
  padding:0;

}


.Navbar {
  width:100vw;
  height: 10vh;

  font-weight: bold;
  font-size: 20px;
  font-family: "Karla";
  display:grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  box-sizing: border-box;
  font-size: 1.5em;
  background-color: white;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,1);
}


.body div{
  border: 0px 3px solid black;
}

.Logo {
  display: flex;
  grid-column: 3/5;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.Navitems {
  display: flex;
  grid-column: 6/11;
  padding:0;
  margin:0;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-family: "Karla";
}

.Navitems ul{
  margin:0;
  padding: 0em;
  
}



.Navitems ul li {
  display: inline;
  padding: 0.3em;
  font-size: 20px;
  margin: auto;
}

.Navitems ul li a{
  text-decoration: none;
  padding: 0 0em 0 1em;
  transition: ease-in-out 0.3s;
  letter-spacing: 0em;
  color: black;
  text-shadow: 1px 1px rgba(0,0,0,0.06);
}

.Navitems ul li a:hover{
  transition: ease-in-out 0.3s;
  letter-spacing: 0.2em;
  text-decoration: none;
  padding: 0 0em 0 1em;
  color: #495E57;
  text-shadow: 2px 2px rgba(0,0,0,0.09);

}

.Reservations{
  margin-left: 0.5em;
}

.Login{
  margin-left: 0.5em;
}

.HeroContainer{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background-color: #495E57;
}

.HeroSection {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 4fr;
  margin: 3em;
  min-width: none;
  min-height: 20em;
}

.Description {
  grid-column: 3/6 ;
}

.Description h1{
  font-size: 3em;
  padding-bottom: 0.2em;
  font-family: "Karla";
  color: #F4CE14;
}

.Description h3 {
  font-size: 2em;
  padding-bottom: 0.5em;
  font-family: "Karla";
  font-weight: 10;
  color: white;
}

.Description p{
  font-size: 1.5em;
  padding-bottom: 4em;
  font-family: "Markazi Text";
  color:white;
  font-weight: 100;
  letter-spacing: 0.04em ;
}

.Description button{
  font-size: 1.5em;
  background-color: #121111;
  color: white;
  width: 9em;
  height: 2.1em;
  border-radius: 8px;
  border-color: transparent;
}

.Image {
  border-radius: 8px;
  grid-column: 7/13;
  height: 100%;
  width: 100%;
  max-height: 30em;
  max-width: 40em;
}

.Highlights {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 3fr;
  margin: 3em;
}


.CTASection{
  grid-column: 3/11;
  justify-content: center;
  align-items: center;
  
}

.CalltoAction{
  display: flex;

}

.SpecialsHeader{
  display: flex;
  font-size: 2.5em;
  font-family: "Karla";
}

.SpecialsHeader h2 {
  font-size: ;
}

.ButtonHeader{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  background-color: #F4CE14;
  border-color: transparent;
  border-radius: 8px;
  font-size: 1.5em;
  color: black;
  width: 9em;
  height: 2.1em;
  font-weight: bold;
  letter-spacing: 0.05em;
  
}


.Cards {
  display: flex;
  grid-column: 2/12;
  grid-row: 2/2;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}


.Card{
  display: grid;
  margin-left: 1em;
  margin-right: 1em;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
  max-height: 28em;
  max-width: 18em;
  min-width: 10em;
  background-color: #EDEFEE;
  font-family: "karla";
  
}


 .Card .SpecialImg {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px 5px 0px 0px;
  max-height: 100%;
  max-width: 100%;


}

.SpecialDescription{
  margin-top: 1em;

  
}

.SpecialDescription h3 {
  padding-bottom: 1em;
  padding: 0em 1.5em;
}

.Price{
  color:#F4CE14;
  padding-left: 0.5em;
}

.SpecialDescription p {
  padding: 1em 1.5em;
  
}

.SpecialDescription h4{
  padding: 1em 1.5em;
}

.Delivery{
  font-weight: bold;
  padding: 1em 3.5em;
  color: #495E57;
}

.Delivery a {
  text-decoration: none;
  color: #495E57;
}



.Testimonials {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 4fr;
  background-color: #495E57;
  padding-top: 1em;
}

.TestimonialsHeading{
  display: flex;
  grid-row: 1/1;
  grid-column: 1/-1;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  letter-spacing: 0.4em;
  font-family: "Karla";
  padding: 0;
  margin: 0;
}


.Profiles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row: 2/2;
  grid-column: 2/12;
  padding: 1em 1em 0em 2em;
  margin-bottom: 4em;
  
  
}

.Profile{
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows:1fr 2fr 1fr;
  padding-top: 1em;
  width: 95%;
  height: 100%;

}

.Profile h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  grid-row: 1/1;
  grid-column: 2/2;
  font-family: "Karla";

}

.Profile p{

  grid-column: 2/4;
  grid-row: 3/3;
  font-family: "Karla";

}

.PersonImage {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 2/2;
  grid-column: 2/2;
  padding-bottom: 1em;
}

.ProfilePicture {
 
  max-width: 100%;
  max-height: 100%;
}

.StarRating {
  display: flex;
  grid-row: 2/2;
  grid-column: 3/3;
  align-items: center;
  justify-content: center;
}

.AboutSection{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(3,1fr);
  margin: 0em 3em;
}

.AboutDescription{
  grid-column: 3/6;
  grid-row: 1/3;
}

.AboutDescription h2 {
  padding-top: 1em;
  padding-bottom: 0.5em;
  font-size: 3em;
  font-family: "Karla";
}

.AboutDescription h3{
  font-size: 1.7em;
  margin-top: 0.5em;
  font-family: "Karla";
  
}

.AboutDescription p{
  display:flex;
  margin-top: 3em;
  font-size: 1.5em;
  font-family: "Markazi Text";

}

.AboutImage1{
  display: flex;
  justify-content: center;
  align-items: center;

  grid-row: 2/4;
  grid-column: 7/10;
  min-width: 20em;
  min-height: 8em;
  max-width: 40em;
  max-height: 23em;
  margin-top: 3em;

}

.AboutImage2{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1/3;
  grid-column: 9/12;
  min-width: 20em;
  min-height: 10em;
  max-width: 40em;
  max-height: 23em;
  margin-top: 5em;
  
}

.Aboutimage {
  padding-left: 2;
  height: 100%;
  width: 100%;
  border-radius: 8px;
}

.Contact{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: 1fr;
  padding: 1em 0em 2em 0em;
  background-color: #495E57;
}

.ContactLogo{
  display: flex;
  align-items: center;
  justify-content: center; 
  grid-column: 3/5;
  min-height: 12em;
  min-width: 7em;
  max-height: 14em;
  max-width: 9em;
  
}

.Lists {
  display: flex;
  justify-content: space-between;
  grid-column: 6/12;
  padding-top: 1.5em;
  
}

.Lists ul {
  list-style-type: none;
  font-family: "Karla";
  color: White;

}

.Lists ul li{
  padding-bottom: 0.7em;
  font-size: 1em;
}

.Lists ul li a{
  text-decoration: none;
  color: White;
  
}

.Nonlink {
  padding-bottom: 1em;
}



